/* DataPage */
.logo-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}
.search-bar {
  width: min(550px, 80%);
  margin-bottom: 1rem;
}
.cases-no {
  color: white;
}
.pagination {
  /* background-color: white; */
  border-radius: var(--border-radius);
  padding: 10px;
}

/* Overwrite bootstrap table styling */
.table-wrapper {
  color: var(--secondary-color);
}

/* Case component */
.case-item-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1rem;
}

.case-item-details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.case-item-image {
  width: 100%;
  /* max-width: 400px; */
  height: auto;
  border-radius: 0.375rem;
}

.primary-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid white;
  max-width: 9rem;
  text-decoration: none;
  text-align: center;
}
.primary-btn:hover {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* ViewCasePage */
.casepage-container {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 2rem;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  /* Case component media queries  */
  .case-item-container {
    flex-direction: row;
  }
  .case-item-image {
    margin-right: 2rem;
  }
  /* ViewCasePage */
  .casepage-container {
    max-width: 1000px;
  }
  /* Images */
  .case-item-image {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
  }
}