:root {
  --border-radius: 0.375rem;
  --primary-color: #880837;
  --secondary-color: #383838;
}

body {
  background-color: var(--primary-color);
  font-family:
    Pt Sans,
    monospace;
  padding: 2rem;
}
